In [40]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [41]:
Customer.objects.all().delete()
Service.objects.all().delete()

(3, {'reservation.Reservation': 0, 'administration.Service': 3})

In [42]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='M')

In [43]:
c1.save()

In [44]:
c2 = Customer.objects.all()[0]

In [45]:
c1 == c2

True

In [46]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [47]:
Customer.objects.bulk_create([
    Customer(first_name="Zachary", last_name="Yan", gender='M'),
    Customer(first_name="Tina", last_name="Luo", gender='F'),
    Customer(first_name="Ruby", last_name="Yan", gender='F')
])

[<Customer: Customer id: None, name: Zachary Yan, sex: M, True>,
 <Customer: Customer id: None, name: Tina Luo, sex: F, True>,
 <Customer: Customer id: None, name: Ruby Yan, sex: F, True>]

In [48]:
c3 = Customer.objects.all()[3]

In [49]:
c3

In [50]:
print(c3)

Customer id: 9, name: Ruby Yan, sex: F, True

In [51]:
Customer.objects.all().count()

4

In [52]:
males = Customer.objects.filter(gender='M')

In [53]:
zachary = Customer.objects.get(first_name='Zachary') #get only allow one row

In [54]:
females = Customer.objects.order_by('last_name').filter(gender='F')

In [55]:
print(females)

<QuerySet [<Customer: Customer id: 8, name: Tina Luo, sex: F, True>, <Customer: Customer id: 9, name: Ruby Yan, sex: F, True>]>

In [56]:
females_rev = Customer.objects.filter(gender='F').order_by('-last_name')

In [57]:
print(females_rev)

<QuerySet [<Customer: Customer id: 9, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 8, name: Tina Luo, sex: F, True>]>

In [58]:
Customer.objects.values_list("first_name", "last_name")

In [59]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='F', active=False)

In [60]:
old_customer.save()

In [61]:
Customer.objects.all().count()

5

In [62]:
Customer.actives.count()

4

In [63]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 6, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 7, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 8, name: Tina Luo, sex: F, True>, <Customer: Customer id: 9, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 10, name: Sarah Brightman, sex: F, False>]>

In [64]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 6, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 7, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 8, name: Tina Luo, sex: F, True>, <Customer: Customer id: 9, name: Ruby Yan, sex: F, True>]>

In [65]:

s1 = Service.objects.create(name='Mineral baths', description='Mineral baths', time_type='[30, 60]', rate=2.50)

In [66]:
s1.save()

In [67]:
Service.objects.bulk_create([
    Service(name='Massage services', description='Swedish, shiatsu, or deep tissue', time_type='[30, 60]', rate=3.00),
    Service(name='Facial services', description='normal or collagen', time_type='[30, 60]', rate=2.00),
    Service(name='Specialty treatment services', description='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='[60, 90]', rate=3.50)
])

[<Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: [30, 60] rate: 3.0>, <Service: name: Facial services
  description: normal or collagen
  time_type: [30, 60] rate: 2.0>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: [60, 90] rate: 3.5>]

In [68]:
Service.objects.all().count()

4

In [69]:
s = list(Service.objects.all())

In [70]:
s

[<Service: name: Mineral baths
  description: Mineral baths
  time_type: [30, 60] rate: 2.50>, <Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: [30, 60] rate: 3.00>, <Service: name: Facial services
  description: normal or collagen
  time_type: [30, 60] rate: 2.00>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: [60, 90] rate: 3.50>]

In [71]:
Service.objects.all()[0].time_list()

[30, 60]

In [72]:
import json
range = json.loads(Service.objects.all()[0].time_type)

In [73]:
range[0]

30

In [74]:
len(range)

2