In [1]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [2]:
Customer.objects.all().delete()

(5, {'reservation.Reservation': 0, 'administration.Customer': 5})

In [3]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='M')

In [4]:
c1.save()

In [5]:
c2 = Customer.objects.all()[0]

In [6]:
c1 == c2

True

In [7]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [8]:
Customer.objects.bulk_create([
    Customer(first_name="Zachary", last_name="Yan", gender='M'),
    Customer(first_name="Tina", last_name="Luo", gender='F'),
    Customer(first_name="Ruby", last_name="Yan", gender='F')
])

[<Customer: Customer id: None, name: Zachary Yan, sex: M, True>,
 <Customer: Customer id: None, name: Tina Luo, sex: F, True>,
 <Customer: Customer id: None, name: Ruby Yan, sex: F, True>]

In [9]:
c3 = Customer.objects.all()[3]

In [10]:
c3

In [11]:
print(c3)

Customer id: 26, name: Ruby Yan, sex: F, True

In [12]:
Customer.objects.all().count()

4

In [13]:
males = Customer.objects.filter(gender='M')

In [14]:
zachary = Customer.objects.get(first_name='Zachary') #get only allow one row

In [15]:
females = Customer.objects.order_by('last_name').filter(gender='F')

In [16]:
print(females)

<QuerySet [<Customer: Customer id: 25, name: Tina Luo, sex: F, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: F, True>]>

In [17]:
females_rev = Customer.objects.filter(gender='F').order_by('-last_name')

In [18]:
print(females_rev)

<QuerySet [<Customer: Customer id: 26, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 25, name: Tina Luo, sex: F, True>]>

In [19]:
Customer.objects.values_list("first_name", "last_name")

In [20]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='F', active=False)

In [21]:
old_customer.save()

In [22]:
Customer.objects.all().count()

5

In [23]:
Customer.actives.count()

4

In [24]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 23, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 24, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 25, name: Tina Luo, sex: F, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 27, name: Sarah Brightman, sex: F, False>]>

In [25]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 23, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 24, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 25, name: Tina Luo, sex: F, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: F, True>]>

In [1]:
s1 = Service.objects.create(name='Mineral baths', slug='Mineral baths', time_type='[30, 60]', rate=2.50)

In [2]:
s1.save()

In [4]:
Service.objects.bulk_create([
    Service(name='Massage services', slug='Swedish, shiatsu, or deep tissue', time_type='[30, 60]', rate=3.00),
    Service(name='Facial services', slug='normal or collagen', time_type='[30, 60]', rate=2.00),
    Service(name='Specialty treatment services', slug='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='[60, 90]', rate=3.50)
])

[<Service: name: Massage services; slug: Swedish, shiatsu, or deep tissue>,
 <Service: name: Facial services; slug: normal or collagen>,
 <Service: name: Specialty treatment services; slug: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap>]

In [5]:
Service.objects.all().count()

4