In [1]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [2]:
Reservation.objects.all().delete()
Customer.objects.all().delete()
Service.objects.all().delete()

(5, {'reservation.Reservation': 0, 'administration.Service': 5})

In [3]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='Male', email='haibo.yan@cgu.edu', tel='(925)351-5817')

In [4]:
c1.save()

In [5]:
c2 = Customer.objects.all()[0]

In [6]:
c1 == c2

True

In [7]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [8]:
Customer.objects.bulk_create([
    Customer(first_name="Karen", last_name="Snow", gender='Female', email='karen.snow@cgu.edu', tel='(661)203-7322'),
    Customer(first_name="Okechukwu", last_name="Ugwuanyi", gender='Male', email='okechukwu.ugwuanyi@cgu.edu', tel='(333)828-3880'),
    Customer(first_name="Leslie", last_name="Bienenfeld", gender='Female', email='leslie.bienenfeld@cgu.edu', tel='(221)323-8320'),
    Customer(first_name="Stephen", last_name="Davison", gender='Male', email='stephen.davison@cgu.edu', tel='(441)323-8320')
])

[<Customer: Customer id: None, name: Karen Snow, sex: Female, True>,
 <Customer: Customer id: None, name: Okechukwu Ugwuanyi, sex: Male, True>,
 <Customer: Customer id: None, name: Stephen Davison, sex: Male, True>]

In [9]:
c3 = Customer.objects.all()[3]

In [10]:
c3

In [11]:
print(c3)

Customer id: 35, name: Stephen Davison, sex: Male, True

In [12]:
Customer.objects.all().count()

4

In [13]:
males = Customer.objects.filter(gender='Male')

In [14]:
okey = Customer.objects.get(first_name='Okechukwu') #get only allow one row

In [15]:
females = Customer.objects.order_by('last_name').filter(gender='Female')

In [16]:
print(females)

<QuerySet [<Customer: Customer id: 33, name: Karen Snow, sex: Female, True>]>

In [17]:
females_rev = Customer.objects.filter(gender='Female').order_by('-last_name')

In [18]:
print(females_rev)

<QuerySet [<Customer: Customer id: 33, name: Karen Snow, sex: Female, True>]>

In [19]:
Customer.objects.values_list("first_name", "last_name")

In [20]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='Female', active=False, email='sarah.brightman@artist.com', tel='11111111')

In [21]:
old_customer.save()

In [22]:
Customer.objects.all().count()

5

In [23]:
Customer.actives.count()

4

In [24]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 32, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 33, name: Karen Snow, sex: Female, True>, <Customer: Customer id: 34, name: Okechukwu Ugwuanyi, sex: Male, True>, <Customer: Customer id: 35, name: Stephen Davison, sex: Male, True>, <Customer: Customer id: 36, name: Sarah Brightman, sex: Female, False>]>

In [25]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 32, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 33, name: Karen Snow, sex: Female, True>, <Customer: Customer id: 34, name: Okechukwu Ugwuanyi, sex: Male, True>, <Customer: Customer id: 35, name: Stephen Davison, sex: Male, True>]>

In [26]:

s1 = Service.objects.create(name='Mineral baths', description='Mineral baths', time_type='30, 60', rate=2.50)

In [27]:
s1.save()

In [28]:
Service.objects.bulk_create([
    Service(name='Massage services', description='Swedish, shiatsu, or deep tissue', time_type='30, 60', rate=3.00),
    Service(name='Facial services', description='normal or collagen', time_type='30, 60', rate=2.00),
    Service(name='Specialty treatment services', description='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='60, 90', rate=3.50)
])

[<Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.0>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.0>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.5>]

In [29]:
Service.objects.all().count()

4

In [30]:
s = list(Service.objects.all())

In [31]:
s

[<Service: name: Mineral baths
  description: Mineral baths
  time_type: 30, 60 rate: 2.50>, <Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.00>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.00>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.50>]

In [33]:
from datetime import datetime
day1 = datetime(year = 2019, month = 3, day = 31, hour = 12, minute = 0, second = 0)
day2 = datetime(year = 2019, month = 3, day = 20, hour = 9, minute = 30, second = 0)

In [35]:
r1 = Reservation.objects.create(customer = okey, reservation_date_time = day1, reservation_service = s1)

/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/django/db/models/fields/__init__.py:1421: RuntimeWarning: DateTimeField Reservation.reservation_date_time received a naive datetime (2019-03-31 12:00:00) while time zone support is active.
  RuntimeWarning)

In [36]:
r1.save()