In [7]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [8]:
Customer.objects.all().delete()
Service.objects.all().delete()

(0, {})

In [9]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='Male', email='haibo.yan@cgu.edu', tel='(925)351-5817')

In [10]:
c1.save()

In [11]:
c2 = Customer.objects.all()[0]

In [12]:
c1 == c2

True

In [13]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [14]:
Customer.objects.bulk_create([
    Customer(first_name="Zachary", last_name="Yan", gender='Male', email='zachary.yan@stanford.edu', tel='(925)666-8888'),
    Customer(first_name="Tina", last_name="Luo", gender='Female', email='dinaloue@gmail.com', tel='(408)828-3779'),
    Customer(first_name="Ruby", last_name="Yan", gender='Female', email='ruby.yan@pennstate.edu', tel='(925)519-8010')
])

[<Customer: Customer id: None, name: Zachary Yan, sex: Male, True>,
 <Customer: Customer id: None, name: Tina Luo, sex: Female, True>,
 <Customer: Customer id: None, name: Ruby Yan, sex: Female, True>]

In [15]:
c3 = Customer.objects.all()[3]

In [16]:
c3

In [17]:
print(c3)

Customer id: 26, name: Ruby Yan, sex: Female, True

In [18]:
Customer.objects.all().count()

4

In [20]:
males = Customer.objects.filter(gender='Male')

In [21]:
zachary = Customer.objects.get(first_name='Zachary') #get only allow one row

In [22]:
females = Customer.objects.order_by('last_name').filter(gender='Female')

In [23]:
print(females)

<QuerySet [<Customer: Customer id: 25, name: Tina Luo, sex: Female, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: Female, True>]>

In [24]:
females_rev = Customer.objects.filter(gender='Female').order_by('-last_name')

In [25]:
print(females_rev)

<QuerySet [<Customer: Customer id: 26, name: Ruby Yan, sex: Female, True>, <Customer: Customer id: 25, name: Tina Luo, sex: Female, True>]>

In [26]:
Customer.objects.values_list("first_name", "last_name")

In [27]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='Female', active=False, email='sarah.brightman@artist.com', tel='11111111')

In [28]:
old_customer.save()

In [29]:
Customer.objects.all().count()

5

In [30]:
Customer.actives.count()

4

In [31]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 23, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 24, name: Zachary Yan, sex: Male, True>, <Customer: Customer id: 25, name: Tina Luo, sex: Female, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: Female, True>, <Customer: Customer id: 27, name: Sarah Brightman, sex: Female, False>]>

In [32]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 23, name: Haibo Yan, sex: Male, True>, <Customer: Customer id: 24, name: Zachary Yan, sex: Male, True>, <Customer: Customer id: 25, name: Tina Luo, sex: Female, True>, <Customer: Customer id: 26, name: Ruby Yan, sex: Female, True>]>

In [33]:

s1 = Service.objects.create(name='Mineral baths', description='Mineral baths', time_type='30, 60', rate=2.50)

In [34]:
s1.save()

In [35]:
Service.objects.bulk_create([
    Service(name='Massage services', description='Swedish, shiatsu, or deep tissue', time_type='30, 60', rate=3.00),
    Service(name='Facial services', description='normal or collagen', time_type='30, 60', rate=2.00),
    Service(name='Specialty treatment services', description='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='60, 90', rate=3.50)
])

[<Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.0>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.0>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.5>]

In [36]:
Service.objects.all().count()

4

In [37]:
s = list(Service.objects.all())

In [38]:
s

[<Service: name: Mineral baths
  description: Mineral baths
  time_type: 30, 60 rate: 2.50>, <Service: name: Massage services
  description: Swedish, shiatsu, or deep tissue
  time_type: 30, 60 rate: 3.00>, <Service: name: Facial services
  description: normal or collagen
  time_type: 30, 60 rate: 2.00>, <Service: name: Specialty treatment services
  description: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap
  time_type: 60, 90 rate: 3.50>]