In [28]:
from administration.models import (Customer, Service)
from reservation.models import Reservation

In [29]:
Customer.objects.all().delete()
Service.objects.all().delete()

(4, {'reservation.Reservation': 0, 'administration.Service': 4})

In [30]:
c1 = Customer.objects.create(first_name="Haibo", last_name="Yan", gender='M')

In [31]:
c1.save()

In [32]:
c2 = Customer.objects.all()[0]

In [33]:
c1 == c2

True

In [34]:
type(Customer.objects.all())

django.db.models.query.QuerySet

In [35]:
Customer.objects.bulk_create([
    Customer(first_name="Zachary", last_name="Yan", gender='M'),
    Customer(first_name="Tina", last_name="Luo", gender='F'),
    Customer(first_name="Ruby", last_name="Yan", gender='F')
])

[<Customer: Customer id: None, name: Zachary Yan, sex: M, True>,
 <Customer: Customer id: None, name: Tina Luo, sex: F, True>,
 <Customer: Customer id: None, name: Ruby Yan, sex: F, True>]

In [36]:
c3 = Customer.objects.all()[3]

In [37]:
c3

In [38]:
print(c3)

Customer id: 14, name: Ruby Yan, sex: F, True

In [39]:
Customer.objects.all().count()

4

In [40]:
males = Customer.objects.filter(gender='M')

In [41]:
zachary = Customer.objects.get(first_name='Zachary') #get only allow one row

In [42]:
females = Customer.objects.order_by('last_name').filter(gender='F')

In [43]:
print(females)

<QuerySet [<Customer: Customer id: 13, name: Tina Luo, sex: F, True>, <Customer: Customer id: 14, name: Ruby Yan, sex: F, True>]>

In [44]:
females_rev = Customer.objects.filter(gender='F').order_by('-last_name')

In [45]:
print(females_rev)

<QuerySet [<Customer: Customer id: 14, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 13, name: Tina Luo, sex: F, True>]>

In [46]:
Customer.objects.values_list("first_name", "last_name")

In [47]:
old_customer = Customer.objects.create(first_name="Sarah", last_name="Brightman", gender='F', active=False)

In [48]:
old_customer.save()

In [49]:
Customer.objects.all().count()

5

In [50]:
Customer.actives.count()

4

In [51]:
print(Customer.objects.all())

<QuerySet [<Customer: Customer id: 11, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 12, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 13, name: Tina Luo, sex: F, True>, <Customer: Customer id: 14, name: Ruby Yan, sex: F, True>, <Customer: Customer id: 15, name: Sarah Brightman, sex: F, False>]>

In [52]:
print(Customer.actives.all())

<QuerySet [<Customer: Customer id: 11, name: Haibo Yan, sex: M, True>, <Customer: Customer id: 12, name: Zachary Yan, sex: M, True>, <Customer: Customer id: 13, name: Tina Luo, sex: F, True>, <Customer: Customer id: 14, name: Ruby Yan, sex: F, True>]>

In [53]:
s1 = Service.objects.create(name='Mineral baths', slug='Mineral baths', time_type='[30, 60]', rate=2.50)

In [54]:
s1.save()

In [55]:
Service.objects.bulk_create([
    Service(name='Massage services', slug='Swedish, shiatsu, or deep tissue', time_type='[30, 60]', rate=3.00),
    Service(name='Facial services', slug='normal or collagen', time_type='[30, 60]', rate=2.00),
    Service(name='Specialty treatment services', slug='hot stone, sugar scrub, herbal body wrap, or botanical mud wrap', time_type='[60, 90]', rate=3.50)
])

[<Service: name: Massage services; slug: Swedish, shiatsu, or deep tissue>,
 <Service: name: Facial services; slug: normal or collagen>,
 <Service: name: Specialty treatment services; slug: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap>]

In [56]:
Service.objects.all().count()

4

In [57]:
s = list(Service.objects.all())

In [58]:
s

[<Service: name: Mineral baths; slug: Mineral baths>,
 <Service: name: Massage services; slug: Swedish, shiatsu, or deep tissue>,
 <Service: name: Facial services; slug: normal or collagen>,
 <Service: name: Specialty treatment services; slug: hot stone, sugar scrub, herbal body wrap, or botanical mud wrap>]

In [60]:
Service.objects.all()[0].time_list()

[30, 60]

In [61]:
import json
range = json.loads(Service.objects.all()[0].time_type)

In [62]:
range[0]

30

In [63]:
len(range)

2